$break-small: 600px;

$font-stack: "Roboto", Helvetica, sans-serif;

$font-size-big:64pt;
$font-size-medium:24pt;
$font-size-normal:20pt;
$font-size-small:16pt;

$smartphone-font-size-big:48pt;
$smartphone-font-size-medium:18pt;
$smartphone-font-size-normal:16pt;
$smartphone-font-size-small:10pt;

$font-weight-light:100;
$font-weight-normal:300;
$font-weight-bold:400;

$bg-color: rgb(255,253,240);

$primary-fg-color: rgb(160,20,40);
$secondary-fg-color: rgb(80,40,40);
$tertiary-fg-color: rgb(110,60,65);

* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
body {
  font-family: $font-stack;
  font-size: $font-size-medium;
  font-weight: $font-weight-normal;
  background:$bg-color;
  color: $primary-fg-color;
  margin:0px;
  padding:0px;
  width: 100%;
  height:100%;
  display: block;
  position: absolute;
}

/* Personal Info Block */
#InfoBlock {
  max-width: 1080px;
  margin:0 auto;
  padding: 6px;
}
#Personal {
  max-width:720px;
  position: absolute;
  bottom:24px;

  .Name {
    font-size: $smartphone-font-size-big;
    font-weight:$font-weight-normal;
  }
  .Activity {
    display: inline-block;
    color: $secondary-fg-color;
    padding-top:8px;
    .greeting {
      color:rgb(240,190,40)
    }
    .age {
      color:rgb(40,60,240)
    }
    .employment {
      text-decoration: none;
      color:rgb(10,190,90)
    }
    .where {
      text-decoration: none;
      color:rgb(210,50,130)
    }
  }
  .Interests {
    padding-top:8px;
    color: $tertiary-fg-color;
    font-size: $smartphone-font-size-normal;
    .interest {
      display: inline-block;
      text-decoration: underline;
      border-width: 0px;
      border-bottom-width: 2px;
      margin:4px;
      padding-left:4px;
      padding-right: 4px;
      border-radius: 2px;
      background-color:$primary-fg-color;
      color: $bg-color;
    }
    .more-interests {
      display: inline-block;
      border-style: ridge;
      border-width: 0px;
      border-bottom-width: 1px;
      border-color:$primary-fg-color;
      padding:2px;
      margin:4px;
      margin-left: 8px;
      cursor: pointer;
      background: transparent;
      color:$primary-fg-color;
      font-size: $font-size-small;
      font-weight: $font-weight-normal
    }
  }
  .Welcome {
    padding-top:16px;
    color: $tertiary-fg-color;
    font-size: $smartphone-font-size-small;
    font-weight: $font-weight-normal;
  }
  .Message {
    // Image should be 320x70px
    background:$primary-fg-color;
    display: block;
    width: 320px;
    height:64px;
    border-radius: 4px;
    margin-top:12px;
    padding-left:6px;
    padding-top:6px;
    text-decoration: none;
    color: $bg-color;
    font-size: $font-size-small;
  }
  @media screen and (min-width: $break-small) {
    bottom:96px;
    .Name {
      font-size: $font-size-big;
    }
    .Welcome {
      font-size: $font-size-small;
    }
    .Interests {
      font-size: $font-size-normal;
    }
  }
}

#Background {
  position: absolute;
  width: 100%;
  height:100%;
  display: block;
  overflow: hidden;
  #background-images {
    background-image: url('/static/tile.png');
    position: absolute;
    display: block;
    width: 120%;
    height:120%;
    top:-64px;
    left:-64px;
  }
}
